.header {
  width: 1117px;
  background: #F4F9E2;
  padding-bottom: 60px;
}

.container {
  margin-left: 179px;
}

.header_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
}

.logo {
  font-family: Larsseit;
  font-size: 24px;
  line-height: 27px;
  color: #62D0DF;
  font-weight: 700;
  margin-right: 234px;
}

.navigation {
  margin-right: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigation__item {
  margin-right: 30px;
  font-family: Larsseit;
  font-size: 14px;
  line-height: 16px;
  color: #22356F;
}

.navigation__item:hover {
  padding-bottom: 10px;
  border-bottom: 1px solid #000;
}

.btn {
  background-color: #62D0DF;
  border-radius: 50px;
  color: white;
  padding: 15px 30px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  text-transform: uppercase;
  display: block;
  position: relative;
  left: 190px;
  z-index: 1;
}

.people {
  position: absolute;
  top: -5px;
  left: 695px;
  display: block;
}

.blue {
  position: absolute;
  width: 807.71px;
  height: 544.93px;
  background: #EDFDFF;
  border-radius: 312.159px;
  -webkit-transform: matrix(-0.5, 0.87, 0.87, 0.5, 0, 0);
          transform: matrix(-0.5, 0.87, 0.87, 0.5, 0, 0);
  top: px;
  left: 695px;
}

.header_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 500px;
  margin-top: 187px;
  max-width: 469px;
}

.header_info_title {
  font-family: Larsseit;
  font-size: 24px;
  line-height: 27px;
  font-weight: 700;
  color: #62D0DF;
}

.header_info_subtitle {
  font-size: 48px;
  line-height: 53px;
  letter-spacing: -0.035em;
  color: #22356F;
}

.header_info_text {
  font-size: 24px;
  line-height: 42px;
  color: #22356F;
}

.header_info_bottoms_item {
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 0.1em;
  margin-right: 20px;
  padding: 10px 30px;
  background-color: #F9B640;
  color: white;
  font-weight: 700;
  border: transparent;
}

.header_info_bottoms_item:hover {
  border: 2px solid #0a0a0a;
  color: slategray;
}

.why_thrive {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.info {
  background-color: #62D0DF;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.info_title {
  font-size: 36px;
  line-height: 27px;
  letter-spacing: -0.006em;
  color: #FFFFFF;
  margin-top: 151px;
  margin-bottom: 75px;
}

.info_text {
  font-size: 18px;
  line-height: 35px;
  color: #FFFFFF;
  font-weight: 400;
  width: 555px;
  height: 235px;
}

.about_us {
  height: 361px;
}

.about_us_title {
  display: inline-block;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #22356F;
  margin-left: 106px;
  margin-right: 225px;
  margin-top: 156px;
}

.about_us_text {
  display: inline-block;
  font-size: 24px;
  line-height: 34px;
  letter-spacing: 0.005em;
  color: #22356F;
  vertical-align: top;
  margin-top: 150px;
  width: 592px;
  height: 210px;
}

.skills-title {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.06em;
  color: rgba(34, 53, 111, 0.5);
  margin-bottom: 24px;
  padding-top: 35px;
}

.skills-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.skills-list-item:nth-child(1) {
  width: 360px;
  height: 360px;
  background-color: #FFE2DE;
}

.skills-list-item:nth-child(2) {
  background-color: #C4E769;
  width: 360px;
  height: 360px;
}

.skills-list-item:nth-child(3) {
  background-color: #62D0DF;
  width: 360px;
  height: 360px;
}

.skills-list-item:nth-child(4) {
  background-color: #0052C1;
  width: 360px;
  height: 360px;
}

.item {
  font-size: 32px;
  line-height: 34px;
  letter-spacing: -0.006em;
  position: relative;
  color: #FFFFFF;
  margin-top: 95px;
  margin-left: 78px;
  font-weight: 700;
  display: inline-block;
}

.item::before {
  content: "";
  width: 9px;
  height: 9px;
  background-color: chocolate;
  position: absolute;
  margin-left: -25px;
  margin-top: 10px;
  border-radius: 50%;
}

.item::after {
  content: "";
  height: 1px;
  width: 255px;
  background-color: white;
  position: absolute;
  top: -40px;
  left: -25px;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class],
ol[class] {
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
  position: relative;
}

a {
  text-decoration: none;
  color: black;
}

div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  list-style: none;
}

.wrapper {
  width: 1440px;
  overflow-x: hidden;
}
