.header {
  width: 1117px;
  background: #F4F9E2;
  padding-bottom: 60px;
}

.container {
  margin-left: 179px;
}

.header_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
}

.logo {
  font-family: Larsseit;
  font-size: 24px;
  line-height: 27px;
  color: #62D0DF;
  font-weight: 700;
  margin-right: 234px;
}

.navigation {
  margin-right: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigation__item {
  margin-right: 30px;
  font-family: Larsseit;
  font-size: 14px;
  line-height: 16px;
  color: #22356F;
}

.navigation__item:hover {
  padding-bottom: 10px;
  border-bottom: 1px solid #000;
}

.btn {
  background-color: #62D0DF;
  border-radius: 50px;
  color: white;
  padding: 15px 30px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  text-transform: uppercase;
  display: block;
  position: relative;
  left: 190px;
  z-index: 1;
}

.people {
  position: absolute;
  top: -5px;
  left: 695px;
  display: block;
}

.blue {
  position: absolute;
  width: 807.71px;
  height: 544.93px;
  background: #EDFDFF;
  border-radius: 312.159px;
  -webkit-transform: matrix(-0.5, 0.87, 0.87, 0.5, 0, 0);
          transform: matrix(-0.5, 0.87, 0.87, 0.5, 0, 0);
  top: px;
  left: 695px;
}

.header_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 500px;
  margin-top: 187px;
  max-width: 469px;
}

.header_info_title {
  font-family: Larsseit;
  font-size: 24px;
  line-height: 27px;
  font-weight: 700;
  color: #62D0DF;
}

.header_info_subtitle {
  font-size: 48px;
  line-height: 53px;
  letter-spacing: -0.035em;
  color: #22356F;
}

.header_info_text {
  font-size: 24px;
  line-height: 42px;
  color: #22356F;
}

.header_info_buttoms_item:nth-child(1) {
  font-size: 16px;
  line-height: 23px;
  margin-right: 20px;
  padding: 10px 30px;
  background-color: #F9B640;
  color: white;
  font-weight: 700;
  border: transparent;
}

.header_info_buttoms_item:nth-child(2) {
  font-size: 16px;
  line-height: 23px;
  margin-right: 20px;
  padding: 10px 30px;
  background-color: #F9B640;
  color: white;
  font-weight: 700;
}

.header_info_buttoms_item:hover {
  border: 2px solid #0a0a0a;
  color: slategray;
}

.why_thrive {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.info {
  background-color: #62D0DF;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.info_title {
  font-size: 36px;
  line-height: 27px;
  letter-spacing: -0.006em;
  color: #FFFFFF;
  margin-top: 151px;
  margin-bottom: 75px;
}

.info_text {
  font-size: 18px;
  line-height: 35px;
  color: #FFFFFF;
  font-weight: 400;
  width: 555px;
  height: 235px;
}

.about_us {
  height: 361px;
}

.about_us_title {
  display: inline-block;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #22356F;
  margin-left: 106px;
  margin-right: 225px;
  margin-top: 156px;
}

.about_us_text {
  display: inline-block;
  font-size: 24px;
  line-height: 34px;
  letter-spacing: 0.005em;
  color: #22356F;
  vertical-align: top;
  margin-top: 150px;
  width: 592px;
  height: 210px;
}

.skills-title {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.06em;
  color: rgba(34, 53, 111, 0.5);
  margin-bottom: 24px;
  padding-top: 35px;
}

.skills-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.skills-list-item:nth-child(1) {
  width: 360px;
  height: 360px;
  background-color: #FFE2DE;
}

.skills-list-item:nth-child(2) {
  background-color: #C4E769;
  width: 360px;
  height: 360px;
}

.skills-list-item:nth-child(3) {
  background-color: #62D0DF;
  width: 360px;
  height: 360px;
}

.skills-list-item:nth-child(4) {
  background-color: #0052C1;
  width: 360px;
  height: 360px;
}

.skills .item {
  font-size: 32px;
  line-height: 34px;
  letter-spacing: -0.006em;
  position: relative;
  color: #FFFFFF;
  margin-top: 95px;
  margin-left: 78px;
  font-weight: 700;
  display: inline-block;
}

.skills .item::before {
  content: "";
  width: 9px;
  height: 9px;
  background-color: chocolate;
  position: absolute;
  margin-left: -25px;
  margin-top: 10px;
  border-radius: 50%;
}

.skills .item::after {
  content: "";
  height: 1px;
  width: 255px;
  background-color: white;
  position: absolute;
  top: -40px;
  left: -25px;
}

.direction {
  padding-top: 120px;
}

.direction_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.direction_list_item:nth-child(1) {
  max-width: 480px;
  max-height: 480px;
  background-color: #22356F;
}

.direction_list_item:nth-child(2) {
  max-width: 480px;
  max-height: 480px;
  background-color: #0052C1;
}

.direction_list_item:nth-child(3) {
  max-width: 480px;
  max-height: 480px;
  background-image: url(../img/berry.png);
}

.direction_list_item:nth-child(4) {
  max-width: 480px;
  max-height: 480px;
  background-color: #62D0DF;
}

.direction_list_item:nth-child(5) {
  max-width: 480px;
  max-height: 480px;
  background: #DEE1FF;
}

.direction_list_item:nth-child(6) {
  max-width: 480px;
  max-height: 480px;
  background: #8F00FF;
}

.direction .item {
  font-size: 40px;
  font-size: 32px;
  line-height: 34px;
  letter-spacing: -0.006em;
  position: relative;
  color: #fff;
  font-weight: 700;
  padding: 126px 264px 262px 104px;
}

.direction .item::before {
  content: "";
  width: 9px;
  height: 9px;
  background-color: chocolate;
  position: absolute;
  margin-left: -25px;
  margin-top: 10px;
  border-radius: 50%;
}

.direction .item::after {
  content: "";
  height: 1px;
  width: 340px;
  background-color: white;
  position: absolute;
  top: 85px;
  left: 82px;
}

.working {
  padding-top: 22px;
}

.work_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.work_block {
  max-width: 480px;
  max-height: 240px;
  padding: 55px 77px 37px 105px;
}

.work_block_title {
  font-size: 28px;
  line-height: 33px;
  color: #22356F;
  padding-bottom: 28px;
}

.work_block_desc {
  width: 298px;
  height: 84px;
  font-size: 16px;
  line-height: 25px;
  color: rgba(34, 53, 111, 0.5);
}

.know_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content {
  padding: 103px 175px 0 106px;
}

.content_title {
  font-size: 16px;
  line-height: 12px;
  color: #22356F;
  padding-bottom: 225px;
}

.content_text {
  max-width: 676px;
  max-height: 215px;
  font-size: 36px;
  line-height: 52px;
  color: #22356F;
  font-weight: 700;
  padding-bottom: 172px;
}

.content_link {
  font-size: 16px;
  line-height: 23px;
  color: #FAB63E;
  font-weight: 700;
}

span {
  color: #62D0DF;
}

.online_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #22356F;
}

.contact {
  padding-top: 103px;
}

.contact_title {
  font-size: 16px;
  line-height: 12px;
  color: #fff;
  padding-bottom: 230px;
}

.contact_subtitle {
  font-size: 64px;
  line-height: 94px;
  color: #fff;
  padding-bottom: 75px;
}

.contact_text {
  font-size: 36px;
  line-height: 52px;
  color: #fff;
  max-width: 579px;
  max-height: 250px;
  padding-bottom: 25px;
}

.contact_link {
  font-size: 16px;
  line-height: 53px;
  color: #62D0DF;
}

.bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bottom_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 98px 0  0 68px;
}

.bottom_block_item {
  max-width: 240px;
  margin-right: 22px;
  padding-right: 33px;
}

.bottom_block_item_title {
  font-size: 14px;
  line-height: 11px;
  color: #22356F;
  margin-bottom: 50px;
}

.bottom_block_item_text {
  font-size: 14px;
  line-height: 23px;
  color: rgba(34, 53, 111, 0.5);
  max-width: 207px;
  margin-bottom: 30px;
}

.tel {
  color: rgba(34, 53, 111, 0.5);
  margin-bottom: 30px;
  display: block;
}

.mail {
  display: block;
  color: #0080ff;
}

.footer_block {
  padding: 32px 0 26px 194px;
  background-color: #62D0DF;
}

.footer_block span {
  color: #fff;
  font-size: 14px;
  line-height: 10px;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class],
ol[class] {
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  list-style: none;
}

.wrapper {
  max-width: 1440px;
  overflow-x: hidden;
}
