.about-us{
   height: 361px;
   

   &-title {
   display: inline-block;
   font-size: 16px;
   line-height: 23px;
   letter-spacing: 0.06em;
   color: #22356F;
   margin-left: 106px;
   margin-right: 225px;
   margin-top: 156px;
   }

   &-text {
   display: inline-block;
   font-size: 24px;
   line-height: 34px;
   letter-spacing: 0.005em;
   color: #22356F;
   vertical-align: top;
   margin-top: 150px;
   width: 592px;
   height: 210px;
   }
}
