.section-why-thrive{
display: flex;
justify-content: space-between;
}

.info {
   background-color: #62D0DF;
   flex-grow: 1;   
      &_title {
   font-size: 36px;
   line-height: 27px;
   letter-spacing: -0.006em;
   color: #FFFFFF;
   margin-top: 151px;
   margin-bottom: 75px;
   }

      &_text {
   font-size: 18px;
   line-height: 35px;
   color: #FFFFFF;
   font-weight: 400;
   width: 555px;
   height: 235px;
   }
}
