
.skills-title {
font-size: 16px;
line-height: 19px;
text-align: center;
letter-spacing: 0.06em;
color: rgba(34, 53, 111, 0.5);
margin-bottom: 24px;
padding-top: 35px;
}


.skills-list {
   display: flex;

   &-item:nth-child(1) {
   width: 360px;
   height: 360px;
   background-color:#FFE2DE;
}

   &-item:nth-child(2){
      background-color: #C4E769;
      width: 360px;
      height: 360px;
   }

   &-item:nth-child(3){
      width: 360px;
      height: 360px;
   }

   &-item:nth-child(4){
      background-color: #0052C1;
      width: 360px;
      height: 360px;
   }
}

   .item {
   font-size: 32px;
   line-height: 34px;
   letter-spacing: -0.006em;
   position: relative;
   color: #FFFFFF;
   margin-top: 95px;
   margin-left: 78px;
   font-weight: 700;
   display: inline-block;

   }

.item::before{
   content: "";
   width: 9px;
   height: 9px;
   background-color: chocolate;
   position:absolute;
   margin-left: -25px;
   margin-top: 10px;
   border-radius: 50%;

}


.item::after{
   content: "";
   height: 1px;
   width: 255px;
   background-color: white;
   position: absolute;
   top: -40px;
   left: -25px;
}