$color_1:#62D0DF;


@import "header";
@import "why_thrive";
@import "about_us";
@import "skills";



body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class],
ol[class] {
  padding: 0;
}

body{
   font-family: 'Lato', sans-serif;
   position: relative;
}

a{
   text-decoration: none;
   color: black;
}

div{
  box-sizing:border-box;
}

ul{
list-style: none;
}

.wrapper{
width: 1440px;
overflow-x: hidden;
}



