@import "header";
@import "section-why-thrive";
@import "section2";
@import "skills";


$gr=#62D0DF;

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class],
ol[class] {
  padding: 0;
}

body{
   font-family: 'Lato', sans-serif;
   width: 1440px;
   position: relative;
}

a{
   text-decoration: none;
   color: black;
}

div{
  box-sizing:border-box;
}

ul{
list-style: none;
}



